<form action="/deck/new" action="post"><button type="submit">New Deck</button></form>
<form action="/deck/remove" action="post"><button type="submit">Remove Deck</button></form>
<form action="/deck/edit/1" action="get" ><button type="submit">Edit Deck</button></form>

