<button class="deck-add" type="submit">New Deck</button>
<p>Decks:</p>
<form action="/deck/edit" action="get">
  <% @decks.each do |id, deck| %>
    <div>
      <label for="<%= id %>"><%= deck %></label>
      <input type="radio" name="deck-id" id="<%= id %>" value="<%= id %>" required>
    </div>
  <% end %>
  <button type="submit">Edit Deck</button>
</form>

<dialog>
  <form action="/deck/new" method="post">
    <div>
      <label for="deck-name">Deck Name:</label>
      <input name="deck-name" id="deck-name" required>
    </div>
    <button type="submit">Add Deck</button>
    <button class="deck-add-cancel">Cancel</button>
  </form>
</dialog>
<script src="/javascripts/decks_view.js"></script>