<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico"
  <title>HSK Flashcards</title>
</head>
<body>
  <header>
    <h1>HSK Flashcards</h1>
    <p>This is an app for learning HSK characters.</p>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <p>Made by: </p>
  </footer>
</body>
</html>