<h2>Register</h2>
<form action="/register" method="post" class="d-flex flex-column align-items-center">
  <div class="col-md-3">
    <label for="username" class="form-label mt-4">Username: </label>
    <input class="form-control" name="username" id="username" value="<%= params[:username]%>">
  </div>
  <div class="col-md-3">
    <label for="password" class="form-label mt-4">Password: </label>
    <input type="password" name="password" id="password" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary mt-4 mb-3">Sign up</button>
</form>
<p>Already have an account? <a href='/login'>Login</a></p>