<% unless @stack.empty? %>
<a class="tab" href="/flashcards/stack">Review Flashcards</a>
<a class="tab" href="/search/characters">Search Characters</a>
<div class="container-flashcards">
  <% @stack.each do |card| %>
    <div class="flashcard card bg-secondary">
      <div class="flashcard-content">
        <h2><%= card[1]['hanzi'] %></h2>
        <h4><%= card[1]['pinyin'] %></h4>
        <p><%= card[1]['meaning'] %></p>
      </div>
    </div>
  <% end %>
</div>
<% else %>
  <p class=".text-body-secondary">Currently no cards in your stack.</p>
  <a class="tab" href="/search/characters">Search Characters</a>
<% end %>