<a href="/flashcards/stack">Flashcard Mode</a>
<div class="container-stackcards">
  <% @stack.each do |card| %>
    <div class="stackcard card bg-secondary">
      <div class="stackcard-content">
        <h2><%= card[1]['hanzi'] %></h2>
        <h4><%= card[1]['pinyin'] %></h4>
        <p><%= card[1]['meaning'] %></p>
      </div>

    </div>
  <% end %>
</div>